.gitbook-link {
    display: none !important;
}

.page-inner {
    max-width: 1000px;
    padding: 2px 2px 2px 2px;
}
 
.book .book-summary .book-logo {
    text-align: left !important;
    padding: 0px 0px !important;
    display: block !important;
}

.book .book-summary, .book .book-body {
    font-family: "Microsoft YaHei UI", "Microsoft Yahei", "PingFang SC", "Lantinghei SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "WenQuanYi Zen Hei", "Noto Sans CJK SC", "Microsoft JhengHei UI", "Microsoft JhengHei", "PingFang TC", "Lantinghei TC", "Noto Sans CJK TC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}